{% extends 'registration/base_auth.html.twig' %}

{% block title %}Bienvenue sur TaskLinker{% endblock %}


{% block card_content %}
    <style>
        #content {
            padding-top: 136px !important;
        }
    </style>
    <div class="dispatch-content">
        <h1>Bienvenue sur TaskLinker</h1>
        <h2 class="large-gap">Commencez dès maintenant - gratuitement</h2>
        <h3 class="medium-gap">Vous avez déjà un compte ?</h3>
        <a class="button dark-button" href="{{ path('app_login') }}">Se connecter</a>
        <h3 class="text-surrounded-lines">ou</h3>
        <a class="button light-button" href="{{ path('app_sign_in') }}">S'inscrire</a>
    </div>
{% endblock %}
