<div class="task-column">
    <h2>{{ category.name }}</h2>
    <div class="tasks-list">
        {% for task in tasks %}
            {% include 'task/_task_card.html.twig' with {'task': task} %}
        {% endfor %}
        <a href="{{ path('app_task_new', {'project': project.id}) }}" data-turbo="false" class="task-add">
        + Ajouter une tâche
        </a>
    </div>
</div>